#navbarNav {
  font-size: 22px;
}

#footer {
  background-color: #484F55;
}

hr {
  height: 2px;
  background-color: #707070;
  border: none;
}

#copyright {
  margin-bottom: inherit
}

#quick-links {
  font-size: 20px;
}

#parallax-image {
  background-image: url(./assets/banner.png);
  height: 1080px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-image-2 {
  background-image: url(./assets/banner.png);
  height: 700px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
.av-parallax-inner.alternate_color.avia-full-stretch {
background-size: 206% 69% !important;
background-position: 66% 100% !important;
}}
