#navbarNav {
  font-size: 22px;
}

#footer {
  background-color: #484F55;
}

hr {
  height: 2px;
  background-color: #707070;
  border: none;
}

#copyright {
  margin-bottom: inherit
}

#quick-links {
  font-size: 20px;
}
